streamlit
PyPDF2
langchain
langchain-community
langchain-text-splitters
chromadb
pysqlite3-binary
sentence-transformers
transformers
torch --index-url https://download.pytorch.org/whl/cpu
python-dotenv